<h1 class="text-center" style="margin-top: 6rem;">edit-profile works!</h1>
<div class="bg-light border mx-auto" style="padding: 3rem; margin-top: 2rem; max-width: 32rem; border-radius: 10px;">
  <form>
      <div class="form-group">
        <label for="exampleInputUsername">Username</label>
        <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
      </div>

      <div class="form-group">
        <label for="exampleInputMobNo">Mobile Number</label>
        <input type="number" class="form-control" id="exampleInputMobNo" aria-describedby="mobNoHelp">
      </div>

      <div class="form-group">
        <label for="exampleInputBdate">Date of birth</label>
        <input type="date" class="form-control" id="exampleInputMobNo" aria-describedby="mobNoHelp">
      </div>

      <div class="form-group">
        <label for="exampleInputGender">Gender</label>
        <div class="form-check ">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male">
          <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female">
          <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
      </div>


      <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword">
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mr-2" style="width: 25%;">Save</button>

      </div>
    </form>
</div>
