<div class="container" style="margin-top: 6rem; max-width: 90rem;">
  <div class="row d-flex justify-content-center">
      <div class="col-lg-4">
          <div class="border sticky-top" style="top: 6rem; max-width: 23rem; padding: 2rem; border-radius: 10px;">

              <div class="d-flex justify-content-center">
                  <img class="rounded-circle" style="height: 12rem;" src="https://pbs.twimg.com/profile_images/1236222132180234241/doCdQ6-l.jpg" alt="profile">
              </div>
              <div class="mt-3 text-center">
                  <h4 style="font-weight: bold;">Vishal Munagekar</h4>
                  <h6 class="text-muted" style="font-weight: bold;">Full Stack Developer</h6>
                  <hr>
              </div>
              <div class="row d-flex justify-content-center">
                  <div class="col text-center">
                      <h6 style="font-weight: bold;">Firends</h6>
                      <h4 class="text-muted">250</h4>
                  </div>
                  <div class="col text-center">
                      <h6 style="font-weight: bold;">Posts</h6>
                      <h4 class="text-muted">3</h4>
                  </div>
              </div>
              <hr>
              <div>
                  <h6 style="font-weight: bold;">Mobile Number</h6>
                  <small class="text-muted">+91 7843052772</small>
                  <h6 style="font-weight: bold;" class="mt-2">Email ID</h6>
                  <small class="text-muted">vishalmunagekar@gmail.com</small>
                  <h6 style="font-weight: bold;" class="mt-2">Birth date</h6>
                  <small class="text-muted">17 jan 1995</small>
              </div>
              <hr>
              <div class="d-flex justify-content-center">
                  <button class="btn btn-primary rounded-pill mr-3" style="width: 40%;" >Massage</button>
                  <button class="btn btn-danger rounded-pill ml-3" style="width: 40%;">Unfriend</button>
              </div>
          </div>
      </div>
      <div class="col-lg-5" style="max-width: 35rem;">

        <div *ngFor="let post of posts">

          <!-- Here Post Component will load -->
          <app-shared-post [singlePost]="post" ></app-shared-post>
          <!-- Here Post Component will load -->

        </div>

      </div>
  </div>
</div>
