<div class="container">
  <form #LoginForm="ngForm" (submit)="login(LoginForm.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" ngModel placeholder="Enter email" name="username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="text" class="form-control" placeholder="Password" ngModel name="password">
    </div>
    <button type="submit" class="btn btn-primary">login</button>
  </form>
</div>
