<div class="container">
  <h1 class="text-center">File Upload</h1>

  <div class="form-group">
    <label style="font-weight: bold;">Select File</label><br>
    <input type="file" (change)="fileProgress($event)" name='image'>
  </div>
  <div *ngIf="previewUrl">
    <img class="img-fluid" [src]="previewUrl" height="300">
  </div>

  <!-- <div *ngIf="fileUploadProgress">
    Upload progress: {{ fileUploadProgress }}
  </div> -->

  <div class="progress">
    <div class="progress-bar" role="progressbar" [ngStyle]="{width: this.fileUploadProgress}" aria-valuenow="25" aria-valuemin="0"
      aria-valuemax="100">{{this.fileUploadProgress}}</div>
  </div>

  <div class="mb-3" *ngIf="uploadedFilePath">
    {{uploadedFilePath}}
  </div>
  <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()">Submit</button>

</div>

<div class="container mt-5 bg-light" style="height: 500px;">
  <img src="http://localhost:3000/resources/image_1598635720010_vivek.jpg" height="300px" alt="">
</div>


<div class="container justify-content-center mt-5">
    <button routerLink="login" class="btn btn-primary mx-5">Login</button>
    <button routerLink="/" class="btn btn-primary mx-5">Home</button>
    <button routerLink="test" class="btn btn-warning mx-5">Test</button>
</div>

<router-outlet></router-outlet>
